.searchbox .wrapper-search {
    position: relative;
    width: 84% !important;
}

.searchbox.small-button > .wrapper-search {
    width: 100% !important;
}

.searchbox.input-expand > .wrapper-search {
    width: 100% !important;
}