.basic-indicators {
    .divider {
        margin:0;
    }
}
.btn-sales {
    display: flex;
    align-items: center;
    img {
        width: 36px;
        margin-right: 20px;
    }
    h2 {
        color: var(--ion-color-dark);
    }
}