<ion-toolbar>
    <ion-buttons slot="secondary">
        <ion-button (click)="closeCar()">
            <i class="icon-x"></i>
        </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="large">
        <ion-icon name="cart" size="small"></ion-icon>
        Carrito de devoluciones
    </ion-title>
</ion-toolbar>
<ion-content>
    <div class="wrapper" *ngIf="products">
        <div class="company-summary-cart" no-padding>
            <div>
                <ion-row class="header-list ion-align-items-center"></ion-row>
            </div>
            <ion-grid class="product-list-cart" no-padding *ngIf="products.length > 0">
                <ion-row class="ion-padding-horizontal" *ngFor="let product of products; let i = index;">
                    <ion-col size="2">
                        <img *ngIf="product.imagenes && product.imagenes.length > 0"
                             onerror="this.src='assets/images/product-without-image.jpg'"
                             [src]="'https://admin.storeapp.net/imagenes/productos/thumb/'+product.imagenes[0].url">
                        <img *ngIf="!product.imagenes || product.imagenes.length == 0"
                             src="assets/images/product-without-image.jpg">
                    </ion-col>

                    <ion-col size="10">
                        <div class="title">{{getFullProductName(product) | titlecase}}</div>
                        <ion-row>
                            <ion-col size="7" no-padding>
                                <small>Cod.: {{product.codigo_disti}}</small>
                                <ion-row>
                                    <ion-col size="auto" no-padding>
                                        <p class="price-card">
                                            {{ +product.precio | currency:"COP":'symbol-narrow':'0.0-0' }}
                                        </p>
                                    </ion-col>
                                    <ion-col no-padding>
                                        <p class="price-card before"
                                           *ngIf="product.ofertas && product.ofertas.length > 0 && product.ofertas[0]?.precio_habitual > 0">
                                            {{ +product.ofertas[0].precio_habitual | currency:"COP":'symbol-narrow':'0.0-0' }}
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="5" no-padding>
                                <div class="quantity-control">
                                    <div>
                                        <ion-icon class="icon-minus-circle icon-blue-gradient"
                                                  (click)="rmToCart(product, i)">
                                        </ion-icon>
                                        <p>
                                            <ion-input [(ngModel)]="product.cantidad"
                                                       class="addToKart input-count-prod" type="number"
                                                       (ionChange)="changeCountProd()"
                                                       (ionBlur)="blur(product.cantidad, i)">
                                            </ion-input>
                                        </p>
                                        <ion-icon class="icon-plus-circle icon-blue-gradient"
                                                  (click)="addToCart(product)">
                                        </ion-icon>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="12" no-padding>
                        <div class="divider"></div>
                    </ion-col>
                </ion-row>
                <ion-row padding>
                    <ion-col size="12" no-padding>
                        <ion-item class="input-form select" lines="none">
                            <div class="select-wrapper">
                                <select class="select-default" (change)="writeComment()" [(ngModel)]="comment">
                                    <option value="0" default selected>Selecciona un motivo</option>
                                    <option *ngFor="let motivo of motivos" [value]="motivo.id">
                                        {{motivo.nombre | titlecase}}
                                    </option>
                                </select>
                                <ion-icon class="icon-chevron-down"></ion-icon>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col text-center>
                        <p class="error" *ngIf="error">El motivo es obligatorio</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row padding>
            <ion-col size="6" no-padding>
                <span>Total (con iva)</span>
            </ion-col>
            <ion-col size="6" text-right no-padding>
                <span>{{ valueReturn | currency:"COP":'symbol-narrow':'0.0-0' }}</span>
            </ion-col>
            <ion-col size="12" no-padding>
                <div class="wrapper" text-center>
                    <ion-button expand="block" size="small" *ngIf="products && products.length > 0 && valueReturn > 0"
                                class="button-outline white" no-margin (click)="createReturn()">
                        <span *ngIf="!returnActive">Crear devolución</span>
                        <span *ngIf="returnActive">Actualizar devolución</span>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
