<ion-row *ngIf="product.quantity > 0 || !showQuantity">
  <ion-col size="12">
    <div class="title">{{ getFullProductName() | titlecase }}</div>
    <ion-row>
      <ion-col size="1" no-padding *ngIf="!showQuantity">
        <div class="quantity-control">
          <strong>{{ +product.sale[0].quantity | number }}</strong>
        </div>
      </ion-col>

      <ion-col size="7" no-padding>
        <small>Ean : {{ product.ean }}</small>
        <ion-row>
          <ion-col size="auto" no-padding>
            <p class="price-card" *ngIf="showQuantity">
              $ {{ +product.price | number }}
            </p>
            <p class="price-card" *ngIf="!showQuantity">
              $ {{ +product.shopkeeper[0].price | number }}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5" no-padding *ngIf="showQuantity">
        <div class="quantity-control">
          <div>
            <ion-icon
              class="icon-minus-circle icon-blue-gradient"
              (click)="rmToNewSale()"
            >
            </ion-icon>
            <p>
              <ion-input
                name="quantity"
                ngDefaultControl
                [(ngModel)]="product.quantity"
                class="addToKart input-count-prod"
                type="number"
                (keyup.enter)="changeCountProd($event, true)"
                (ionBlur)="changeCountProd($event)"
                (ionFocus)="onFocus()"
              >
              </ion-input>
            </p>
            <ion-icon
              class="icon-plus-circle icon-blue-gradient"
              (click)="addToNewSale()"
            >
            </ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="12" no-padding>
    <div class="divider"></div>
  </ion-col>
</ion-row>
