.icon-calendar {
    margin-right: 10px;
}
.header-day {
    background: #c7e6ff;
}
.header-month {
    background: #f8ffc8;
}

.cont-day {
    background: #e9f5ff;
}
.cont-month {
    background: #fcffe9;
}