<ion-header>
  <ion-toolbar>
    <div>
        <ion-buttons>
            <ion-button (click)="toggleMenu()" *ngIf="!showBackButton" color="secondary">
              <i slot="icon-only" class="icon-menu"></i>
            </ion-button>
            <ion-button (click)="justBack()" *ngIf="showBackButton" >
              <i slot="icon-only" class="icon-arrow-left icon-orange-gradient"></i>
            </ion-button>
        </ion-buttons>

            <ion-title color="primary" class="medium" no-padding (click)="emitHeader()">
              {{ titulo | titlecase }}
            </ion-title>
      
          <ion-buttons *ngIf="mostrarBotonAuxiliar">
            <ion-button class="right-button-header messages" [class.with-message]="messageNotificationStatus" fill="outline" color="primary" (click)="goMyMessages()">
              <ion-icon class="icon-message-square" name="null"></ion-icon>
              <ion-badge color="danger"></ion-badge>
            </ion-button>            
            <ion-button
              class="right-button-header points"
              *ngIf="!filtros"
              (click)="eventPounts()"
            >
              <span>{{ tituloBoton }}</span>
              <ion-icon name="star" color="secondary"></ion-icon>
            </ion-button>
            <ion-button
              class="right-button-header"
              *ngIf="filtros"
              (click)="eventFilter()"
            >
              <i class="icon-filter" *ngIf="!listIcon"></i>
              <i class="icon-list" *ngIf="listIcon"></i>
            </ion-button>
          </ion-buttons>        
    </div>
  </ion-toolbar>
</ion-header>
