ion-header {
  .data-sale {
    position: absolute;
    top: 2vh;
    right: 3vw;
    width: auto;
    border-left: 0.01em solid;
    padding-left: 16px !important;
  }
  .filter-button{
    --box-shadow: 0 2px 6px rgba(0,0,0,.12);
    --border-radius: 50px;
    margin-right: 6px;
    font-size: 16px;
    color:
    white;
    --background: linear-gradient(135deg, rgba(10, 110, 203, 1) 0%, rgba(0, 177, 226, 1) 100%);
    --background-activated: var(--ion-color-primary);
    letter-spacing: 0;
    --font-family: 'montserrat_mediumregular';
    --padding-start: 10px;
    --padding-end: 10px;
    min-width: 36px;
    height: 36px;    
  }
}
