<ion-slides [options]="slideOpts" class="cart-products ion-padding-horizontal" #slides>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>2</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>1</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>15</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>3</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>4</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>12</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>1</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>5</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>3</span></div>
    </ion-slide>
    <ion-slide>
        <img src="https://via.placeholder.com/180x220">
        <div><span>4</span></div>
    </ion-slide>
</ion-slides>