.indicator-card{
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px; 
    margin-inline-start: 0px; 
    -webkit-margin-end: 0px; 
    margin-inline-end: 0px;
    background: var(--ion-color-primary);
    color: white;
    height: 60px;
}

.results {
  width: 78%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  app-tarjeta-categoria {
    width: 100%;
  }
  ion-slides {
    width: 100%;
    overflow: visible;
    ion-slide {
      height: calc(100% / 4);
      width: 46%;
      padding:0;
    }
    &.even{
        margin-right: 1.5%;
    }
  }
}