
.filter-modal {
    --border-radius:20px 20px 0 0 !important;
    --height:396px;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.5) !important;
    --box-shadow: 0 4px 8px rgba(0,0,0,.35);
    -ms-flex-align: flex-end;
    align-items: flex-end;
    &.filter-modal-two{
        --height:278px;
    }
    &.filter-modal-three {
        --height:86vh;
        .scroll-cont-filter {
            height: 76%;
        }
    }
    .modal-wrapper {
        .header-modal {
            font-family: 'montserrat_semiboldregular';
            color: var(--ion-color-primary);
            padding: 16px 16px 14px 20px;
            border-bottom: 1px solid var(--ion-color-primary);
            display: flex;
            align-items: center;
            font-size: 18px;
            margin-bottom: 6px;
            ion-icon {
                margin-right: 10px;
            }
            &.subheader {
                font-size: 15px;
                background: var(--ion-color-light);
                border-bottom: none;
                line-height: 1.3;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 14px;
                padding-bottom: 14px;
                ion-icon {
                    font-size: 19px;
                }
            }
        }
        .settings-wrapper {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 1px solid #dadada;
            ion-item {
                margin-left: 16px;
                margin-right: 16px;
                --inner-padding-end:0;
                ion-label {
                    font-size: 15px;
                }
                &:last-child {
                    margin-bottom: 8px;
                }
            }
        }
        ion-content {
            padding-top: 0;
            ion-item {
                --padding-start:0;
                --padding-end:0;
                ion-checkbox {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 16px;
                    // --border-color: 2px;
                    --border-color: var(--ion-color-dark);
                }
                ion-label {
                    font-family: 'montserrat_semiboldregular';
                    color: var(--ion-color-dark);
                }
            }
        }
    }
    .scroll-cont-filter {
        overflow: scroll;
        height: 270px;
    }
}