ion-item {
  &.input-form {
    --border-width: 0;
    --highlight-height: 0;
    --padding-start: 0;
    --inner-padding-start: 16px;
    --inner-padding-end: 16px;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0px;
    --padding-top: 0;
    --color: var(--ion-color-secondary);
    margin-bottom: 8px;
    --min-height: 65px;

    ion-input {
      --placeholder-opacity: 1;
      font-family: "montserrat_mediumregular";
      color: var(--ion-color-primary);
      --color: var(--ion-color-primary);
      --placeholder-color: var(--ion-color-secondary);
    }
    ion-label {
      margin: 0;
      font-family: "montserrat_mediumregular";
    }

    ion-icon {
      color: var(--ion-color-primary);
    }
    &.item-has-focus,
    &.item-has-value {
      .label-floating.sc-ion-label-md-h {
        -webkit-transform: translate3d(14px, 2px, 0) scale(0.8);
        transform: translate3d(14px, 2px, 0) scale(0.8);
        transform-origin: 14px -5px;
      }
    }

    // Select
    &.select {
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-bottom: 0px;
      --detail-icon-opacity: 1;
      --background: transparent;
      --min-height: 0;

      ion-select {
        border: 2px solid var(--ion-color-primary);
        border-radius: 50px;
        padding-right: 10px;
        min-width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        --placeholder-opacity: 1;
        margin: 0;
        align-self: flex-end;
        background: white !important;
      }
    }
    .select-wrapper {
      position: relative;
      align-self: flex-end;
      width: 100%;

      .select-default {
        -webkit-appearance: button;
        -moz-appearance: button;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-padding-end: 20px;
        -moz-padding-end: 20px;
        -webkit-padding-start: 2px;
        -moz-padding-start: 2px;
        background-color: white;
        border: 2px solid var(--ion-color-primary);
        border-radius: 50px;
        color: var(--ion-color-secondary);
        font-size: inherit;
        margin: 0;
        overflow: hidden;
        padding: 8px 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-family: "montserrat_mediumregular";

        &:focus {
          outline: none;
        }
      }
      ion-icon {
        position: absolute;
        right: 16px;
        top: 13px;
        font-size: 18px;
        pointer-events: none;
        color: var(--ion-color-primary);
        font-weight: bold;
      }
    }
    // Checkbox
    &.checkbox {
      --padding-top:0;
      --padding-bottom:0;
      --inner-padding-top:0;
      --inner-padding-bottom:0;
      --min-height:auto;
      ion-label {
        font-family: "montserrat_mediumregular";
      }
      ion-checkbox {
        --border-color: var(--ion-color-primary);
        margin-inline-end: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &.item-textarea {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 16px;
  }
}
ion-input {
  --placeholder-opacity: 1;
  font-family: "montserrat_mediumregular";
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-secondary);
  --placeholder-font-weight: bold;
}
.native-input.sc-ion-input-md,
.sc-ion-textarea-md-h,
.sc-ion-textarea-ios-h {
  border-radius: 50px;
  border: 2px solid var(--ion-color-primary);
  padding-left: 16px;
  font-family: "montserrat_mediumregular";
}
.input-count-prod .native-input.sc-ion-input-md {
  border: none;
  padding-left: 0;
  text-align: center;
  padding: 0;
}
.sc-ion-textarea-md-h,
.sc-ion-textarea-ios-h {
  border-radius: 18px;
  border: 2px solid var(--ion-color-primary);
  padding-left: 16px;
  font-family: "montserrat_mediumregular";
  --color: var(--ion-color-primary);
}
.label-floating.sc-ion-label-md-h {
  -webkit-transform: translate3d(0, 33px, 0);
  transform: translate3d(16px, 33px, 0);
  font-family: "montserrat_mediumregular";
}
.valid-code {  
  .native-input.sc-ion-input-md,
  .sc-ion-textarea-md-h,
  .sc-ion-textarea-ios-h {
    padding-left: 0;
    text-align: center;
  }
  ion-item {
    --padding-top:0;
    --padding-bottom:0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 0;
  }
}
// Radio buttons

ion-radio {
  margin: 0;
}
.radio-group {
  background: var(--ion-color-light);
  margin-bottom: 16px;
  border-radius: 10px;
  .wrapper-radio {
    margin: 0 auto;
    display: flex;
    ion-radio {
      margin-right: 10px;
      --color: var(--ion-color-primary);
      width: 24px;
      height: 24px;
      background: white;
      border-radius: 50%;
    }
    ion-label {
      --color: var(--ion-color-secondary);
      font-family: "montserrat_mediumregular";
      font-size: 20px;
      line-height: 1.2;
    }
  }
  ion-item {
    --background: transparent;
  }
  .radio-icon {
    background: white;
  }

  
}

.search-without-radius {
  .native-input.sc-ion-input-md {
    border-radius: 0;
    border-bottom: 2px solid var(--ion-color-primary);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

.input-element-ubicacion {
  border-radius: 3px;
  border: 2px solid var(--ion-color-primary);
  background-color: white;
  flex: unset; 
  width: 30px; 
  margin-left: 5px; 
  padding-left: 2px
}