$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "../src/assets/fonts/iconfont" !default;

$icon-sort: "\e164";
$icon-money_off: "\e25c";
$icon-drag_handle: "\e25d";
$icon-my_location: "\e55c";
$icon-menu1: "\e5d2";
$icon-whatsapp: "\e901";
$icon-printer: "\e902";
$icon-back-product: "\e903";
$icon-no-order: "\e904";
$icon-menu: "\e905";
$icon-zoom-in: "\e906";
$icon-calendar: "\e907";
$icon-waze: "\e908";
$icon-home: "\e909";
$icon-map: "\e90a";
$icon-map-pin: "\e90b";
$icon-finger-swipe: "\e90c";
$icon-tag: "\e90d";
$icon-user: "\e90e";
$icon-arrow-right: "\e90f";
$icon-storeapp: "\e910";
$icon-x-circle: "\e911";
$icon-thumbs-up1: "\e912";
$icon-alert-triangle: "\e913";
$icon-align-justify: "\e914";
$icon-arrow-down: "\e918";
$icon-arrow-down-circle: "\e919";
$icon-arrow-down-left: "\e91a";
$icon-arrow-down-right: "\e91b";
$icon-arrow-left: "\e91c";
$icon-arrow-left-circle: "\e91d";
$icon-arrow-right-circle: "\e91e";
$icon-arrow-up: "\e91f";
$icon-arrow-up-circle: "\e920";
$icon-arrow-up-left: "\e921";
$icon-arrow-up-right: "\e922";
$icon-bell: "\e928";
$icon-bell-off: "\e929";
$icon-bookmark: "\e92e";
$icon-box: "\e92f";
$icon-camera: "\e931";
$icon-check: "\e934";
$icon-chevron-down: "\e937";
$icon-chevron-left: "\e938";
$icon-chevron-right: "\e939";
$icon-chevron-up: "\e93a";
$icon-qrcode: "\e93b";
$icon-clipboard: "\e941";
$icon-dollar-sign: "\e95d";
$icon-edit: "\e961";
$icon-file-text: "\e96d";
$icon-filter: "\e96f";
$icon-flag: "\e970";
$icon-help-circle: "\e97f";
$icon-image: "\e980";
$icon-info: "\e982";
$icon-list: "\e98b";
$icon-mail: "\e98f";
$icon-message-square: "\e993";
$icon-minus: "\e998";
$icon-minus-circle: "\e999";
$icon-more-vertical: "\e99e";
$icon-move: "\e99f";
$icon-package: "\e9a4";
$icon-phone: "\e9a9";
$icon-phone-forwarded: "\e9ab";
$icon-pie-chart: "\e9b0";
$icon-plus: "\e9b3";
$icon-plus-circle: "\e9b4";
$icon-refresh-ccw: "\e9ba";
$icon-rotate-ccw: "\e9be";
$icon-rss: "\e9c0";
$icon-search: "\e9c3";
$icon-settings: "\e9c6";
$icon-share: "\e9c7";
$icon-share-2: "\e9c8";
$icon-shopping-bag: "\e9cb";
$icon-shopping-cart: "\e9cc";
$icon-smartphone: "\e9d4";
$icon-star: "\e9d7";
$icon-thumbs-down: "\e9e0";
$icon-thumbs-up: "\e9e1";
$icon-trash-2: "\e9e5";
$icon-truck: "\e9e9";
$icon-video: "\e9f7";
$icon-wifi: "\e9ff";
$icon-wifi-off: "\ea00";
$icon-x: "\ea02";
$icon-award: "\e900";
