ion-slides {
  padding: 10px 5px;
  background: var(--ion-color-light);
  ion-slide {
    width: auto;
  }
  ion-slide:first-child {
    padding-left: 5px;
  }
}
.wrapper-slider {
  padding: 0 5px;
}
.total-prod {
  font-family: "montserrat_semiboldregular";
  color:var(--ion-color-primary);
}