<ion-card class="post">
  <ion-card-header color="primary">
    <ion-card-subtitle>
      ¡NO SE PIERDA ESTA OFERTA!
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content no-padding>
      <img src="https://via.placeholder.com/400x180">
      <p padding>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa provident aperiam, fuga suscipit possimus?
        Vero eaque sint commodi ut harum esse, molestiae, repellat sit doloribus veniam porro sapiente nostrum.
        <small>Martes 2 de febrero</small>
      </p>
      <div class="card-bottom">
          <ion-label color="primary" float-left><ion-icon name="thumbs-up"></ion-icon> 3 Me gusta</ion-label>
          <ion-label color="primary" float-right><ion-icon name="chatboxes"></ion-icon> 1 Comentario</ion-label>
      </div>
  </ion-card-content>
</ion-card>
<ion-card class="post company">
    <ion-card-header color="primary">
        <img src="../assets/images/post-companies-headers/header-example.jpg">
    </ion-card-header>
    <ion-card-content no-padding>
        <img src="https://via.placeholder.com/400x180">
        <p padding>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa provident aperiam, fuga suscipit possimus?
          Vero eaque sint commodi ut harum esse, molestiae, repellat sit doloribus veniam porro sapiente nostrum.
          <small>Martes 2 de febrero</small>
        </p>
        <div class="card-bottom">
            <ion-label color="primary" float-left><ion-icon name="thumbs-up"></ion-icon> 3 Me gusta</ion-label>
            <ion-label color="primary" float-right><ion-icon name="chatboxes"></ion-icon> 1 Comentario</ion-label>
        </div>
    </ion-card-content>
  </ion-card>
