<ion-card (click)="isNotVisible || detailProduct()" class="product-card" [ngClass]="{
    expand: item == position,
    'with-offer': product.oferta_distribuidor && (!product.es_ofe_especial || validateOfferSpecial),
    'featured-product': product.color,
    'featured-product-red':
        product.color &&
        product.color == colorOfertSegment.red,
    'featured-product-yellow':
        product.color &&
        product.color == colorOfertSegment.yellow,
    'featured-product-green':
        product.color &&
        product.color == colorOfertSegment.green,
    'card-modal': (cardModal)
	}">
	<div class="featured-prod-tag">
		Producto Destacado
	</div>
	<ion-card-content>
		<div class="top-card">
			<div class="share" *ngIf="!isNotVisible">
				<ion-button (click)="$event.stopPropagation();share()" shape="round" fill="solid" expand="block">
					<ion-icon name="share-alt" slot="icon-only"></ion-icon>
				</ion-button>
			</div>
			<ng-container *ngIf="user.role == roles.shopkeeper">
				<img *ngIf="product.imagenes && product.imagenes.length > 0"
					onerror="this.src='assets/images/product-without-image.jpg'"
					[src]="'https://admin.storeapp.net/imagenes/productos/thumb/' + product.imagenes[0].url" />
				<img *ngIf="!product.imagenes || product.imagenes.length == 0"
					src="assets/images/product-without-image.jpg" />
			</ng-container>
			<ng-container *ngIf="user.role == roles.seller">
				<ion-img *ngIf="product.imagenes.length > 0"
					[src]="'https://admin.storeapp.net/imagenes/productos/thumb/' + product.imagenes[0].url"
					(ionImgDidLoad)="loadImg($event)"></ion-img>
				<img *ngIf="product.imagenes.length == 0" src="assets/images/product-without-image.jpg" />
			</ng-container>
		</div>
		<div class="offer-tag" [ngClass]="{'gain-by-scale': validateOfferSpecial}">
			<p>OFERTA</p>
		</div>
		<!-- <div class="offer-tag with-discount">
			12%
		</div> -->
		<div class="promo-feature" *ngIf="validateOfferSpecial">
			<ion-row class="ion-align-items-center">
				<ion-col size="auto" class="percentage">
					{{messageDiscount}}<span>{{typeMessageDiscount}}</span>
				</ion-col>
				<ion-col no-padding>{{this.messageProductOffer}}</ion-col>
				<ion-col size="auto">
				</ion-col>
			</ion-row>
		</div>
		<div class="bottom-card">
			<ion-row class="cost ion-justify-content-center ion-align-items-end">
				<ion-col size="auto" no-padding>
					<p class="price-card">
						{{
							+product.precio
								| currency: "COP":"symbol-narrow":"0.0-0"
						}}
					</p>
				</ion-col>
				<ion-col size="auto" no-padding *ngIf="product.ofertas && product.ofertas.length > 0">
					<p class="price-card before">
						<span *ngIf="product.ofertas[0]?.precio_habitual > 0">
							{{ product.ofertas[0].precio_habitual | currency: "COP":"symbol-narrow":"0.0-0" }}
						</span>
					</p>
				</ion-col>
				<ion-col size="12"
					*ngIf="product.puntaje_asignar !== undefined && product.puntaje_asignar !== null && product.puntaje_asignar != '0'">
					<div class="points-per-product">
						<div class="icon-points">
							<ion-icon name="star"></ion-icon>
						</div>
						<!-- <p><small>x</small>{{calcularPts(product)}}<span>Puntos</span></p> -->
						<p><span>{{product.puntaje_asignar}} Pts.<small>x</small></span>
							{{product.valor_compra | currency: "COP":"symbol-narrow":"0.0-0"}}</p>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="(product.puntaje_asignar == undefined || product.puntaje_asignar == null || product.puntaje_asignar == '0')
			&& (puntos && puntos.puntaje_asignar > 0)">
				<ion-col size="12">
					<div class="points-per-product">
						<div class="icon-points">
							<ion-icon name="star"></ion-icon>
						</div>
						<!-- <p><small>x</small>{{calcularPts(product)}}<span>Puntos</span></p> -->
						<p><span>{{puntos.puntaje_asignar}} Pts.<small>x</small></span>
							{{+puntos.valor_compra | currency: "COP":"symbol-narrow":"0.0-0"}}</p>
					</div>
				</ion-col>
			</ion-row>
			<ng-container *ngIf="user.role == roles.seller">
				<ion-card-title>
					{{ product.nombre | titlecase }}
				</ion-card-title>
			</ng-container>
			<ng-container *ngIf="user.role != roles.seller">
				<ion-card-title
					*ngIf="(!product.ofertas) || (product.ofertas && product.ofertas[0] && !product.ofertas[0].descripcion_oferta)">
					{{ getFullProductName() | titlecase }}
				</ion-card-title>
				<ion-card-title *ngIf="product.ofertas && product.ofertas[0] && product.ofertas[0].descripcion_oferta">
					{{ product.ofertas[0].descripcion_oferta | titlecase }}
				</ion-card-title>
			</ng-container>
			<div class="info-prod">
				<ion-row class="units" *ngIf="user.role == roles.seller">
					<ion-col no-padding>
						{{ product.unidad_medida | titlecase }}
					</ion-col>
				</ion-row>
				<!-- <ion-row>
					<ion-col no-padding><small class="num-codigo">Código:</small></ion-col>
					<ion-col size="auto" no-padding>
						<small class="num-codigo">
							<span>{{ product.cod_sap }}</span>
						</small>
					</ion-col>
				</ion-row> -->
				<small class="num-codigo">Código:<span>{{ product.codigo_disti }}</span></small>
				<small
					*ngIf="((product.inventario >= 0) && ((!product.valida_stock && product.inventario > 10) || (product.valida_stock))) || (this.user.role == 'vendedor')">
					Inventario: <span>{{ product.inventario }}</span>
				</small>
				<small *ngIf="product.multiplo_pedido > 1">Multiplo: <span>{{ product.multiplo_pedido }}</span></small>
				<small *ngIf="product.pedido_maximo > 0 || product.pedido_minimo > 0">Cantidad:
					<span *ngIf="product.pedido_maximo > 0">máx:{{ product.pedido_maximo }}</span>
					<span *ngIf="product.pedido_maximo > 0 && product.pedido_minimo > 0">&nbsp;/&nbsp;</span>
					<span *ngIf="product.pedido_minimo > 0">mín:{{ product.pedido_minimo }}</span>
				</small>
			</div>
			<ion-row>
				<ion-col class="sale-due" size="12" no-padding *ngIf="product.valor_meta && +product.valor_meta > 0 && product.color">
					<ion-row *ngIf="product.tipo_meta == 'pr'">
						<ion-col class="no-padding-bottom" size="12">Deberías pedir:</ion-col>
						<ion-col size="12" no-padding>
							{{ +product.valor_meta | currency: "COP":"symbol-narrow":"0.0-0" }}</ion-col>
					</ion-row>
					<ion-row *ngIf="product.tipo_meta != 'pr'">
						<ion-col class="no-padding-bottom" text-left>Deberías pedir:</ion-col>
						<ion-col size="auto" class="no-padding-bottom">{{ product.valor_meta }}</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="no-padding-top" text-left><small>Has pedido:</small></ion-col>
						<ion-col class="no-padding-top" size="auto">
							<small
								*ngIf="product.tipo_meta == 'pr'">{{ (+this.product.valor_meta_actual * product.precio) | currency: "COP":"symbol-narrow":"0.0-0" }}</small>
							<small *ngIf="product.tipo_meta != 'pr'">{{ product.valor_meta_actual || 0}}</small>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="(product.valor_meta - product.valor_meta_actual) > product.cantidad">
						<ion-col no-padding>
							<div class="small-btn addToKart" (click)="addProductsOferSegment();$event.stopPropagation();">
								Pedir Todos
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</div>
	</ion-card-content>
	
	<div class="footer-card-prod" *ngIf="!isNotVisible">
		<div class="discount-applied" *ngIf="(validateOfferSpecial && cumpleDescuento) && (statusInputCountProd || (!statusInputCountProd && product.cantidad > 0))">
			{{messageFooterDiscount}}<br>
			{{messageAditional}}
			<span *ngIf="descuento > 0">- {{descuento | currency: "COP":"symbol-narrow":"0.0-0"}}</span>
		</div>
		<ion-row class="weight-buttons" *ngIf="(statusInputCountProd || (!statusInputCountProd && product.cantidad > 0) && product.factor) && control_visible_unidad_medida ">
			<ion-col  [ngClass]="{'active': mesures.unidad}" size="6" (click)="changeActiveMesure('unidad');$event.stopPropagation()">
				Unidad
			</ion-col>
			<ion-col [ngClass]="{'active': mesures.peso}" size="6" (click)="changeActiveMesure('peso');$event.stopPropagation()">
				Peso
			</ion-col>
		</ion-row>
		<div class="quantity-control" [hidden]="disabledProduct">
			<ion-button *ngIf="(!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && product.factor) && control_visible_unidad_medida " 
			(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart order-by-weight" color="primary">
				<ion-row class="ion-align-items-center">
					<ion-col size="6" no-padding>
						<p (click)="changeActiveMesure('unidad')"><small>AGREGAR</small>X UNIDAD</p>
					</ion-col>
					<ion-col size="6" no-padding>
						<p (click)="changeActiveMesure('peso')"><small>AGREGAR</small>X PESO</p>
					</ion-col>
				</ion-row>
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0)"
				(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart" color="primary">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && !control_visible_unidad_medida"
				(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart button-with-offer" color="secondary">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && control_visible_unidad_medida"
				(click)="changeActiveMesure('unidad'); addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart button-with-offer"
				color="secondary">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && !control_visible_unidad_medida"
				(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-red-button" color="danger">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && control_visible_unidad_medida"
				(click)="changeActiveMesure('unidad');addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-red-button" color="danger">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && !control_visible_unidad_medida"
				(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-yellow-button" color="tertiary">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && control_visible_unidad_medida"
				(click)="changeActiveMesure('unidad');addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-yellow-button" color="tertiary">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && !control_visible_unidad_medida"
				(click)="addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-green-button" color="success">
				Agregar
			</ion-button>
			<ion-button *ngIf="!statusInputCountProd && (!product.cantidad || product.cantidad == 0) && control_visible_unidad_medida"
				(click)="changeActiveMesure('unidad');addToCart();$event.stopPropagation()" size="small" expand="full" class="addToKart featured-product-green-button" color="success">
				Agregar
			</ion-button>
			<div class="quantity-wrapper" *ngIf="statusInputCountProd || (!statusInputCountProd && product.cantidad > 0)">
				<div class="button-quantity">
					<ion-icon class="addToKart remove icon-blue-gradient" name="remove" (click)="rmToCart();$event.stopPropagation()">
					</ion-icon>
				</div>
				<div class="number" (click)="$event.stopPropagation()">
					<ion-input [(ngModel)]="product.cantidad" (keyup.enter)="changeCountProd($event, true)"
						(ionBlur)="changeCountProd($event)" (ionFocus)="onFocus();$event.stopPropagation()" class="addToKart input-count-prod"
						type="number">
					</ion-input>
					<small *ngIf="product.factor">{{mesure_choosen}}</small>
				</div>
				<div class="button-quantity">
					<ion-icon class="addToKart add icon-blue-gradient" name="add" (click)="addToCart();$event.stopPropagation()">
					</ion-icon>
				</div>
			</div>
		</div>
		<div *ngIf="disabledProduct">
			<span text-center class="txt-disabled-product">
				El producto no está disponible.
			</span>
		</div>
	</div>
</ion-card>

<!-- Tarjeta de Oferta -->
<!-- <ion-card class="promo-card without-img-promo" *ngIf="cardTypeOffer && (!product.valor_meta && !product.color)">
	<div class="img-wrapper">
		<div class="quantity-control">
			<ion-button
				*ngIf="
					!statusInputCountProd &&
					(!product.cantidad || product.cantidad == 0)
				"
				(click)="addToCart();$event.stopPropagation()"
				size="small orange-button has-icon"
				class="addToKart"
			>
				Agregar
				<ion-icon slot="end" name="add-circle-outline"></ion-icon>
			</ion-button>
			<div
				*ngIf="
					statusInputCountProd ||
					(!statusInputCountProd && product.cantidad > 0)
				"
				class="count-products-offer"
			>
				<ion-icon
					class="addToKart remove"
					(click)="rmToCart()"
					name="remove-circle-outline"
				></ion-icon>
				<p>
					<ion-input
						[(ngModel)]="product.cantidad"
						(keyup.enter)="changeCountProd($event, true)"
						(ionBlur)="changeCountProd($event)"
						(ionFocus)="onFocus()"
						class="addToKart input-count-prod"
						type="number"
					></ion-input>
				</p>
				<ion-icon
					class="addToKart add"
					(click)="addToCart()"
					name="add-circle-outline"
				></ion-icon>
			</div>
		</div> -->
<!-- <ion-button size="small orange-button has-icon">
            Agregar
            <ion-icon slot="end" class="icon-plus-circle"></ion-icon>
        </ion-button> -->
<!-- <ng-container *ngIf="user.role == roles.shopkeeper">
			<img
				*ngIf="product.imagenes && product.imagenes.length > 0"
				onerror="this.src='assets/images/product-without-image.jpg'"
				[src]="
					'https://admin.storeapp.net/imagenes/productos/thumb/' +
					product.imagenes[0].url
				"
			/>
			<img
				*ngIf="!product.imagenes || product.imagenes.length == 0"
				src="assets/images/product-without-image.jpg"
			/>
		</ng-container>
		<ng-container *ngIf="user.role == roles.seller">
			<ion-img
				*ngIf="product.imagenes.length > 0"
				[src]="
					'https://admin.storeapp.net/imagenes/productos/thumb/' +
					product.imagenes[0].url
				"
				(ionImgDidLoad)="loadImg($event)"
			></ion-img>
			<img
				*ngIf="product.imagenes.length == 0"
				src="assets/images/product-without-image.jpg"
			/>
		</ng-container>
	</div>
	<ion-card-content class="bottom-card">
		<p>
			<span>Oferta</span>
			{{
				(product.ofertas &&
				product.ofertas.length > 0 &&
				product.ofertas[0].descripcion_oferta
					? product.ofertas[0].descripcion_oferta
					: product.descripcion) | titlecase
			}} -->
<!-- {{ (product.ofertas && product.ofertas.length > 0 && product.ofertas[0].descripcion_oferta) ? product.ofertas[0].descripcion_oferta | titlecase : product.descripcion }} -->
<!-- </p>
		<div class="info-prod">
			<ion-row>
				<ion-col no-padding
					><small class="num-codigo">Código:</small></ion-col
				>
				<ion-col size="auto" no-padding
					><small class="num-codigo"
						><span>{{ product.cod_sap }}</span></small
					></ion-col
				>
			</ion-row> -->
<!-- <small class="num-codigo">Código: <span>{{product.cod_sap}}</span></small> -->
<!-- <small *ngIf="product.inventario >= 0"
				>Inventario: <span>{{ product.inventario }}</span></small
			>
			<small *ngIf="product.multiplo_pedido > 1"
				>Multiplo: <span>{{ product.multiplo_pedido }}</span></small
			>
			<small
				*ngIf="product.pedido_maximo > 0 || product.pedido_minimo > 0"
				>Cantidad:
				<span *ngIf="product.pedido_maximo > 0"
					>máx:{{ product.pedido_maximo }}</span
				>
				<span
					*ngIf="
						product.pedido_maximo > 0 && product.pedido_minimo > 0
					"
					>&nbsp;/&nbsp;</span
				>
				<span *ngIf="product.pedido_minimo > 0"
					>mín:{{ product.pedido_minimo }}</span
				>
			</small>
		</div>
		<div class="price">
			{{ +product.precio | currency: "COP":"symbol-narrow":"0.0-0" }}
			<span *ngIf="product.ofertas[0]?.precio_habitual > 0">
				{{
					product.ofertas[0].precio_habitual
						| currency: "COP":"symbol-narrow":"0.0-0"
				}}
			</span>
		</div>
	</ion-card-content>
</ion-card>
 -->
