<app-pedidos-cabecera *ngIf="shopData" tienda="{{shopData.nombre || shopData.nombre_tienda | titlecase}}"
                      direccionTienda="{{shopData.direccion | titlecase}}" tituloBoton="4987 Puntos"
                      [mostrarBotonPedidosAnteriores]="false" [filtro]="true" (clickFilter)="showFilter()"
                      [user]="user">
</app-pedidos-cabecera>

<ion-segment class="segment-general" scrollable id="segments" #segmentsCategories  *ngIf="brandList.length == 0">
    <ng-container *ngFor="let category of categories; let i = index;">
        <ion-segment-button [checked]="idCategorySel == category.id" [id]="'segment-'+category.id"
                            (click)="selectCategory(category.id)">
            <ion-label>{{category.nombre | titlecase}}</ion-label>
        </ion-segment-button>
    </ng-container>
    <!-- <ion-segment-button checked>
        <ion-label>Maizena</ion-label>
    </ion-segment-button> -->
</ion-segment>

<ion-segment class="segment-general" scrollable id="segments" #segmentsCategories *ngIf="brandList.length > 0">
    <ng-container *ngFor="let brand of brandList; let i = index;">
        <ion-segment-button [checked]="idCategorySel == brand.id" [id]="'segment-'+brand.id"
                            (click)="selectBranchBySeller(brand.id, brand.nombre)">
            <ion-label>{{brand.nombre | titlecase}}</ion-label>
        </ion-segment-button>
    </ng-container>
    <!-- <ion-segment-button checked>
        <ion-label>Maizena</ion-label>
    </ion-segment-button> -->
</ion-segment>


<ion-content no-padding class="with-searchbox" [scrollEvents]="true" (ionScroll)="eventScroll($event, 'cliente')" [class.no-scroll]="!scrollDownStatus">
    <ion-refresher *ngIf="!dataIn && !dataIn.action" slot="fixed" (ionRefresh)="refreshData($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid no-padding class="compania">
        <!-- <div class="wrapper-card-list" #listPromoElement padding>
            <ion-card class="promo-card">
                <div class="img-wrapper">
                    <ion-button size="small orange-button has-icon">Agregar <ion-icon slot="end"
                            class="icon-plus-circle">
                        </ion-icon>
                    </ion-button>
                    <img src="https://via.placeholder.com/320x150">
                </div>
                <ion-card-content>
                    <p class="small">
                        Texto Promo o destacado
                    </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="promo-card">
                <div class="img-wrapper">
                    <ion-button size="small orange-button has-icon">Agregar <ion-icon slot="end"
                            class="icon-plus-circle">
                        </ion-icon>
                    </ion-button>
                    <img src="https://via.placeholder.com/320x150">
                </div>
                <ion-card-content>
                    <p class="small">
                        Texto Promo o destacado
                    </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="promo-card">
                <div class="img-wrapper">
                    <ion-button size="small orange-button has-icon">Agregar <ion-icon slot="end"
                            class="icon-plus-circle">
                        </ion-icon>
                    </ion-button>
                    <img src="https://via.placeholder.com/320x150">
                </div>
                <ion-card-content>
                    <p class="small">
                        Texto Promo o destacado
                    </p>
                </ion-card-content>
            </ion-card>
        </div> -->
        <app-pedidos-productos #ordersProducts
                *ngIf="categories.length > 0" [categoriesProds]="categories" [user]="user"
                               (scrollEvent)="scroll($event)"
                               [finishLoad]="finishLoad"
                               [puntosCompania]="puntosCompania">
        </app-pedidos-productos>
    </ion-grid>
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadInfiniteScroll($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
<ion-footer class="wrapper-search-scan">
    <app-general-boton-buscador-codigo-barras [showButton]="showButtonBarcode" [small]="nProducts > 0"
                                              (search)="searchProducts($event)"></app-general-boton-buscador-codigo-barras>
    <app-pedidos-buscador [user]="user" (search)="searchProducts($event)" #pedidosBuscador [nProducts]="nProducts"
                          activeKeyUp="false"
                          (focusEvent)="focusEvent()" (blurEvent)="blurEvent()" [idShop]="shopData?.id"></app-pedidos-buscador>
    <ion-button [@jump]="thingState" class="cart-button"
                [ngClass]="{'show': nProducts > 0, 'small-button': !pedidosBuscador.inputExpand && !pedidosBuscador.small,'edit-cart':hasEdit}"
                (click)="abrirCarrito()">
        <ion-row class="wrapper ion-align-items-center">
            <ion-col class="text" no-padding text-left>
                <p>Ver Carrito</p>
                <p class="value">{{orderValue | currency:"COP":'symbol-narrow':'0.0-0'}}</p>
            </ion-col>
            <ion-col size="auto" no-padding>
                <ion-row class="wrapper-quantity">
                    <ion-col size="12" no-padding>
                        <small>{{nProducts}}</small>
                    </ion-col>
                    <ion-col size="12" no-padding>
                        <ion-icon name="cart"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-button>
</ion-footer>

