ion-grid,ion-row{
    height: 100%;
    ion-col{
        display: block;
    }    
}
button.card-button {
    color: var(--ion-color-medium);
    text-align: center;
}
#content-method{
    width: 94vw;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}
#header-method{
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 3vh;
    h1{
        color:var(--ion-color-primary);
    }

}
#select-method{
    width: 93%;
    display: block;
    height: 52px;
    overflow: hidden;
    ion-col{
        float: left;
    }
}
#forms-method{
    width:100%;
    display: block;
    height: auto;
    float: left;
    margin-top: 20px;
    span{
        display: block;
        font-size: 15px;
        text-align: center;
        margin-top: 17px;
    }    
}

.item-native{
    background: transparent;
}

button.card-button.active{
    background:var(--ion-color-primary)!important;
    color:white;
}

ion-footer{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    button{
        bottom: 16px;
        width: 40vw;
        height: 40px;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        margin: 0;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-out;
        font-size: 17px;
        border-radius: 32px;
        color: white;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.even{
            color: var(--ion-color-danger);
            border: 2px solid var(--ion-color-danger);   
            background: transparent;
            box-shadow: 0px 14px 30px -12px rgba(255, 44, 14, 1);
            box-shadow: none;
            p{
                font-family: 'montserrat_semiboldregular';
            }            
        }
        &.odd{
            background-color: var(--ion-color-success);
            border: 2px solid var(--ion-color-success);
            box-shadow: 0px 14px 30px -12px rgba(71, 199, 76, 0.8);
            p{
                font-family: 'montserratbold';
            }
        }     
        p{
            font-size: 15px;
            padding: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-right: 9px;
        }
        ion-icon{
            font-size: 23px;
        }
    }    

}

