ion-content {
    --padding-top: var(--ion-padding, 0);
    --padding-bottom: var(--ion-padding, 65px);
    padding-top: var(--ion-padding, 0);
    padding-bottom: var(--ion-padding, 65px);
    display: flex;
    align-items: center;
    .results {
      width: 90vw;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      app-tarjeta-categoria,
      app-tarjeta-producto {
        width: 100%;
      }
      ion-slides {
        width: 100%;
        overflow: visible;
        ion-slide {
          height: calc(100% / 4);
          width: 46%;
          padding:0;
        }
        &.even{
            margin-right: 1.5%;
        }
      }
    }
    .filter-value {
      height: 66px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: row;
      width: 90vw;
      position: relative;
      margin: 23px auto 0;
      background: #ecedf1;
      border-radius: 8px;
      padding: 10px 13px;
  
      &>i{
        position: absolute;
        top: 12px;
        right: 11px;
        font-size: 1.2em;
        border-radius: 100%;      
      }
      div{
        font-size: 0.9em;
        font-family: 'montserrat_semiboldregular';
        color: var(--ion-color-secondary);
        text-transform: lowercase;
        i.icon-arrow-right {
          margin-top: 1px;
          margin-left: 2px;
          margin-right: 10px;
          font-weight: bold;    
        }
        &::first-letter {
          text-transform: uppercase ;
        }
      }
      div:nth-child(1){
        width: 100vw;
        display: block;
        position: absolute;
        font-family: 'montserrat_semiboldregular';
        color: var(--ion-color-primary);
        font-size: 18px;
        line-height: 1;
        left: 12px;
        top: 10px;
      
        i{
          display: none
        }
      }    
  
    }
  }
  
  ion-footer {
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-around;
    background-color: var(--ion-color-primary);
    strong{
      color: white;
    }
  }
  
  app-tarjet-categoria,
  app-tarjet-producto{
    overflow: hidden;
  }