<ion-header>
  <ion-toolbar>
    <ion-title color="dark">
      storeapp Design Elements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <!-- COLORS -->

    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold">Colors</h4>
    <ul class="ion-align-items-start" style="padding: 0">
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-primary); color:white; font-size: 10px; font-weight: bold; padding: 8px">Primary</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-secondary); color:white; font-size: 10px; font-weight: bold; padding: 8px">Secondary</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-tertiary); color:white; font-size: 10px; font-weight: bold; padding: 8px">Tertiary</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-dark); color:white; font-size: 10px; font-weight: bold; padding: 8px">Dark</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-medium); color:white; font-size: 10px; font-weight: bold; padding: 8px">Medium</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-light); color:white; font-size: 10px; font-weight: bold; padding: 8px">Light</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-success); color:white; font-size: 10px; font-weight: bold; padding: 8px">Success</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-warning); color:white; font-size: 10px; font-weight: bold; padding: 8px">Warning</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div style="width:90px; height:60px; border-radius:12px; background-color: var(--ion-color-danger); color:white; font-size: 10px; font-weight: bold; padding: 8px">Danger</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div class="blue-gradient-background" style="width:143px; height:60px; border-radius:12px; color:white; font-size: 10px; font-weight: bold; padding: 8px">Blue Gradient</div>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <div class="orange-gradient-background" style="width:143px; height:60px; border-radius:12px; color:white; font-size: 10px; font-weight: bold; padding: 8px">Blue Gradient</div>
      </li>
    </ul>

    <!-- TYPOGRAPHY -->

    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Typography</h4>
    <small style="margin: 16px 0 8px; display: block;">Title ion-toolbar</small>
    <ion-title color="primary" style="margin-bottom: 8px">Title Toolbar</ion-title>
    <ion-title color="primary" class="medium" style="margin-bottom: 8px">Title Toolbar - medium class</ion-title>
    <ion-title color="primary" class="small" style="margin-bottom: 8px">Title Toolbar - small class</ion-title>
    <ion-title color="primary" class="medium" style="margin-bottom: 8px">Title Toolbar with under text <span>Small Text Under</span></ion-title>
    <small style="margin: 16px 0 8px; display: block;">Headings</small>
    <h1 style="padding: 0 16px">H1 - Heading Title</h1>
    <h2 style="padding: 0 16px">H2 - Heading Title</h2>
    <h3 style="padding: 0 16px">H3 - Heading Title</h3>
    <h4 style="padding: 0 16px">H4 - Heading Title</h4>
    <h5 style="padding: 0 16px">H5 - Heading Title</h5>
    <h6 style="padding: 0 16px; margin-bottom: 16px">H6 - Heading Title</h6>
    <div class="sub-title" style="padding: 0 16px">Sub Title Content</div>
    <small style="margin: 16px 0 8px; display: block;">Card</small>
    <ion-card-title style="padding: 0 16px">Card Title</ion-card-title>
    <small style="margin: 16px 0 8px; display: block;">Link</small>
    <a href="#" style="padding: 0 16px; margin-bottom: 16px" class="small-link">Small Link</a>
    <small style="margin: 16px 0 8px; display: block;">Paragraphs</small>
    <p style="padding: 0 16px 0">Normal Paragraph- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vel debitis. Illo repellendus fugiat sapiente iste similique cupiditate vero. Ut explicabo magnam esse nobis non sed ducimus iusto vitae officia?</p>
    <p class="small" style="padding: 0 16px 0">Small Paragraph- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vel debitis. Illo repellendus fugiat sapiente iste similique cupiditate vero. Ut explicabo magnam esse nobis non sed ducimus iusto vitae officia?</p>
    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Icons</h4>
    <ul>
        <li class="ion-margin-end ion-margin-bottom">
          <i class="icon-alert-triangle"></i>
        </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-align-justify"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-arrow-down"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-arrow-left"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-bell"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-bell-off"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-bookmark"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-calendar"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-camera"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-check"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-chevron-down"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-chevron-left"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-chevron-right"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-chevron-up"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-clipboard"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-dollar-sign"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-edit"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-file-text"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-filter"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-flag"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-help-circle"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-home"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-image"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-info"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-list"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-mail"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-map"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-map-pin"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-menu"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-message-square"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-minus"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-minus-circle"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-more-vertical"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-move"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-package"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-phone"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-phone-forwarded"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-pie-chart"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-plus"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-plus-circle"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-refresh-ccw"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-rotate-ccw"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-rss"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-search"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-settings"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-share-2"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-shopping-bag"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-shopping-cart"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-smartphone"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-star"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-tag"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-thumbs-down"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-thumbs-up"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-trash-2"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-truck"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-user"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-video"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-wifi"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-wifi-off"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-x"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-x-circle"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-zoom-in"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-drag_handle"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-menu1"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-sort"></i>
      </li>
    </ul>
    <small style="margin: 16px 0 8px; display: block;">With gradients</small>
    <ul>
      <li class="ion-margin-end ion-margin-bottom">
        <i class="icon-bell icon-blue-gradient" style="font-size:25px; font-weight:bold"></i>
      </li>
      <li class="ion-margin-end ion-margin-bottom">
          <i class="icon-arrow-left icon-orange-gradient" style="font-size:25px; font-weight:bold"></i>
      </li>
    </ul>

    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Buttons</h4>
    <small style="margin: 16px 0 8px; display: block;">Main Buttons</small>
    <ion-grid no-padding>
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <button class="main-button blue-button order-button">
            <span>Pedidos & Ofertas</span>
          </button>
        </ion-col>
        <ion-col size="6">
            <button class="main-button orange-button top_up-button">
              <span>Recargas Móviles</span>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <small style="margin: 16px 0 8px; display: block;">Card Buttons</small>
    <ion-grid no-padding>
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <button class="card-button">
              <ion-grid no-padding>
                <ion-row class="ion-align-items-center">
                  <ion-col size="3" no-padding><ion-icon class="icon-pie-chart icon-orange-gradient ion-align-self-center"></ion-icon></ion-col>
                  <ion-col size="9" no-padding>Pago de Facturas</ion-col>
                </ion-row>
              </ion-grid>
            </button>
          </ion-col>
          <ion-col size="6">
          </ion-col>
        </ion-row>
      </ion-grid>
    <small style="margin: 16px 0 8px; display: block;">General Buttons</small>
    <ion-button style="margin-bottom: 1rem">Primary</ion-button>
    <ion-button size="small" style="margin-bottom: 1rem">Small</ion-button>
    <ion-button class="orange-button" style="margin-bottom: 1rem">Secondary</ion-button>
    <ion-button size="small orange-button" style="margin-bottom: 1rem">Small</ion-button>
    <ion-button size="small orange-button has-icon" style="margin-bottom: 1rem">Agregar <ion-icon slot="start" class="icon-plus-circle"></ion-icon></ion-button>
    <ion-button size="small orange-button has-icon" style="margin-bottom: 1rem">Agregar <ion-icon slot="end" class="icon-plus-circle"></ion-icon></ion-button>
    <ion-button expand="block" style="margin-bottom: 1rem">Block Button</ion-button>
    <ion-button expand="block" class="with-text" style="margin-bottom: 1rem">
      <ion-grid>
          <ion-row>
              <ion-col size="12">Block Button</ion-col>
              <ion-col size="12"><span>With Small Text</span></ion-col>
            </ion-row>
      </ion-grid>
    </ion-button>
    <ion-button expand="block" class="with-text button-outline" style="margin-bottom: 1rem">
      <ion-grid>
          <ion-row>
              <ion-col size="12">Block Button</ion-col>
              <ion-col size="12"><span>With Small Text</span></ion-col>
            </ion-row>
      </ion-grid>
    </ion-button>
    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Cards</h4>
    <small style="margin: 16px 0 8px; display: block;">Card Promo</small>
    <ion-card class="promo-card">
      <div class="img-wrapper">
          <ion-button size="small orange-button has-icon">Agregar <ion-icon slot="end" class="icon-plus-circle"></ion-icon></ion-button>
          <img src="https://via.placeholder.com/400x180">
      </div>
      <ion-card-content>
        <p class="small">
            Lorem ipsum dolor sit amet, consec adipiscing elit. Aenean commodo ligula eget dolor.
        </p>
      </ion-card-content>
    </ion-card>
    <small style="margin: 16px 0 8px; display: block;">Card Product</small>
    <div class="wrapper-card-list" #containerCards>
      <ion-card class="product-card with-offer" [ngClass]="{'expand': item==0}" (click)="expand(0, $event)" [ngStyle]="{'order': 1}">
        <ion-card-content>
          <div class="top-card">
            <img src="https://via.placeholder.com/180x220">
            <div class="points"><b>15</b> puntos</div>
          </div>
          <div class="bottom-card">
              <ion-card-title>Mayonesa Fruco De 12 Unds X 90gr</ion-card-title>
              <small>Cod.: 0000000</small>
              <ion-row>
                <ion-col size="6" class="ion-no-padding">
                  <p class="price-card">$10.000</p>
                </ion-col>
                <ion-col size="6" class="ion-no-padding">
                  <p class="price-card before">$10.000</p>
                </ion-col>
              </ion-row>
              <div class="quantity-control">
                <ion-button size="small" expand="block" class="button-outline">
                  Agregar
                </ion-button>
              </div>
          </div>
        </ion-card-content>
        <div class="info-card">
          <ul>
            <li>Precio sugerido de Venta: <span class="ion-float-right">$11.400</span></li>
            <li>Porcentaje de Ganancia: <span class="ion-float-right">13%</span></li>
          </ul>
        </div>
      </ion-card>
      <ion-card class="product-card" [ngClass]="{'expand': item==1}" (click)="expand(1, $event)" [ngStyle]="{'order': 2}">
        <ion-card-content>
          <div class="top-card"><img src="https://via.placeholder.com/180x220"></div>
          <div class="bottom-card">
              <ion-card-title>Mayonesa Fruco De 12 Unds X 90gr Mayonesa Fruco De 12 Unds X 90g</ion-card-title>
              <small>Cod.: 0000000</small>
              <p class="price-card">$10.000</p>
              <div class="quantity-control">
                <ion-icon class="icon-minus-circle icon-blue-gradient"></ion-icon>
                <p>0</p>
                <ion-icon class="icon-plus-circle icon-blue-gradient"></ion-icon>
              </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="product-card" [ngClass]="{'expand': item==2}" (click)="expand(2, $event)" [ngStyle]="{'order': 3}">
        <ion-card-content>
          <div class="top-card"><img src="https://via.placeholder.com/180x220"></div>
          <div class="bottom-card">
              <ion-card-title>Mayonesa Fruco De 12 Unds X 90gr Mayonesa Fruco De 12 Unds X 90gr</ion-card-title>
              <small>Cod.: 0000000</small>
              <p class="price-card">$10.000</p>
              <div class="quantity-control">
                <ion-icon class="icon-minus-circle icon-blue-gradient"></ion-icon>
                <p>0</p>
                <ion-icon class="icon-plus-circle icon-blue-gradient"></ion-icon>
              </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Forms</h4>
    <ion-item class="input-form">
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="input-form select">
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-form select" lines="none" style="margin-bottom: 30px;" text-center align-self-center>
      <div class="select-wrapper">
        <select class="select-default">
          <option value="" default selected>Select Your Age</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <ion-icon class="icon-chevron-down"></ion-icon>
      </div>
    </ion-item>
    <div class="wrapper-search">
        <ion-input placeholder="Buscar"></ion-input>
        <ion-icon class="icon-search"></ion-icon>
    </div>
    <h4 style="border-bottom: 1px dotted #cccccc; padding-bottom: 8px; margin-bottom: 16px; font-weight: bold;">Lists</h4>

  </div>
</ion-content>
