.icon-chevron-up {
    font-size: 20px;
}
// .icon-calendar {
//     font-size: 30px;
// }
.day-date {
    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-calendar {
            padding: 6px;
            font-size: 13px;
            margin-right: 7px;
            background: var(--ion-color-light);
            color: var(--ion-color-primary);
            border-radius: 20px;
        }
    }
}

ion-toolbar div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}