<ion-content class="menu-app" (swipe)="handleSwipe($event)">
    <ion-toolbar no-padding>
        <ion-title class="large">
            {{user.nombre_contacto | titlecase}}
            <p class="small" no-margin>{{user.cedula}}</p>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <i class="icon-x-circle"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-col class=" no-padding-horizontal" size="12">
        <div class="pending-clients">
            <p>Clientes Visitados: <span float-right>{{user.clientes_atendidos_hoy}}</span></p>
            <p><b>Clientes Pendientes:</b> <b float-right>{{user.clientes_total_hoy - user.clientes_atendidos_hoy}}</b></p>
        </div>
    </ion-col>
    <div class="divider-white"></div>
    <ion-button expand="block" class="new-item-label new-client" no-margin
                (click)="goCreateClient()" color="secondary">
                <ion-icon name="person-add" slot="start"></ion-icon>
        Crear nuevo cliente
    </ion-button>
    <div class="divider-white"></div>
    <ion-row class="section-menu">
        <ion-col class="no-padding-horizontal" size="12" (click)="goHome()">
            <a>
                <p><i class="icon-home"></i>Inicio</p>
                <i class="icon-chevron-right ion-float-right"></i>
            </a>
        </ion-col>
        <ion-col class="no-padding-horizontal" size="12" (click)="goFrecuentQuestions()" routerDirection="forward">
            <a>
                <p><i class="icon-help-circle"></i>Cómo Funciona storeapp</p>
                <i class="icon-chevron-right ion-float-right"></i>
            </a>
        </ion-col>
        <ion-col class="no-padding-horizontal" size="12" (click)="openChat()" routerDirection="forward">
            <a>
                <p>
                    <i class="icon-help-circle"></i>
                    Atención en línea
                </p>
                <i class="icon-chevron-right ion-float-right"></i>
            </a>
        </ion-col>
        <ion-col class="no-padding-horizontal" size="12" (click)="goSurveyFanny()" class="no-padding-horizontal">
            <a>
                <p>
                    <i class="icon-file-text"></i>
                    Crear encuesta Fanny
                </p>
                <i class="icon-chevron-right ion-float-right"></i>
            </a>
        </ion-col>
        <ion-col class="no-padding-horizontal" size="12" *ngIf="!messageInformation" (click)="goMyMessages()"
                 routerDirection="forward">
            <a>
                <p>
                    <i class="icon-mail"></i>
                    Mensajes
                </p>
                <i class="icon-chevron-right ion-float-right"></i>
            </a>
        </ion-col>
    </ion-row>
    <div class="divider-white" *ngIf="messageInformation"></div>
    <div class="messages" *ngIf="messageInformation">
        <div (click)="goMyMessages()" class="messages-top ion-justify-content-between">
            <p no-margin>
                <i class="icon-mail"></i>
                Mensajes
            </p>
            <span *ngIf="messageInformation && messageInformation.count > 0">
                ( {{messageInformation.count}} Nuevos )
            </span>
        </div>
        <div class="last-message" *ngIf="messageInformation && messageInformation.message"
             (click)="openMessage(messageInformation.message)">
            <span class="date">Hoy</span>
            <span class="title-message">{{messageInformation.message.titulo | titlecase}}</span>
            <p [innerHTML]="messageInformation.message.mensaje"></p>
        </div>
    </div>
    <div class="divider-white"></div>
    <ion-row class="ion-margin-bottom">
        <ion-col class="points" size="12" no-padding>
            <button (click)="goMyHistoryScore()" class="card-button" expand="full">
                <div class="icon-wrapper">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
                <span>Historial de puntos</span>
            </button>
        </ion-col>
        <ion-col class="ion-align-self-center" text-center *ngIf="balance">
            <p no-margin>Saldo storeapp: {{balance | currency: "COP": 'symbol': '1.0'}}</p>
        </ion-col>
    </ion-row>        
    <div class="divider-white"></div>
    <ion-button expand="block" class="tiny-menu-button ion-margin-bottom" (click)="goTermsConditions()">
        Términos & Condiciones
    </ion-button>
    <ion-button expand="block" class="tiny-menu-button ion-margin-bottom" (click)="goPrivacyPolicies()">Políticas de privacidad
    </ion-button>
    <ion-button (click)="logOut()" expand="block" class="small button-outline ion-margin-bottom white" no-margin>
        Cerrar Sesión
    </ion-button>
    <ion-row>
        <ion-col class="ion-text-center ion-padding">
            <small>Versión: {{ionVersionNumber}} - {{ionVersionCode}}</small>
        </ion-col>
    </ion-row>
</ion-content>
