<ion-row justify-content-center>
    <ion-col size="10">
        <h5>PRODUCTOS CON MAS PUNTOS</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quibusdam?</p>
    </ion-col>
    <ion-col size="10">
        <ion-slides [options]="slideOpts" class="productos-con-puntos" #slides>
            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>

            <ion-slide>
                <div class="productos-con-puntos__imagen"></div>
                <span class="productos-con-puntos__puntos">X3 Puntos</span>
            </ion-slide>
        </ion-slides>
    </ion-col>
</ion-row>
